/* sticky scroll header css */
.scroll-header{
  background: white;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 9999999999;
  transition: .5s;
}

.white{
  background: #ff71ec;
  padding: 0;
  box-shadow: 2px 0 10px 2px rgb(0, 0, 0, .4);
}
.white .logo img{
  width: 180px;
}

.logo img{
    width:200px;
    transition: .5s;
}
.c-menu li a {
	margin: 0 15px !important;
	font-size: 16px;
	color: #1e272e !important;
	font-weight: 700;
}
.c-menu li a:hover{
    color: #3c40c6 !important;
}

/* header btn css */
  
  .button_su{
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 3px;
  }
  
  .su_button_circle{
    background-color: red;
    border-radius: 1000px;
    position: absolute;
    left:0;
    top:0;
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    pointer-events: none;
    /*animation-timing-function: ease-in-out; */
  }
  
  .button_su_inner {
    display: inline-block;
    background: #3c40c6;
    color: #F4F4F4 !important;
    font-size: 16px;
    font-weight: 700;
    width: 130px;
    text-align: center;
    border-radius: 4px;
    transition: 500ms;
    text-decoration: none;
    padding: 10px;
  }
  
  .button_text_container{
     position:relative;
     z-index: 10000;
  }
  
  .explode-circle {
     animation: explode 0.8s forwards;
  
  }
  
  .desplode-circle{
     animation: desplode 0.8s forwards;
  }
  
  @keyframes explode {
    0% {
      width: 0px;
      height: 0px;
      margin-left: 0px;
      margin-top: 0px;
      background-color: rgba(0, 0, 0);
    }
    100% {
      width: 400px;
      height: 400px;
      margin-left: -200px;
      margin-top: -200px;
      background-color: rgba(0, 0, 0);
    }
  }
  
  @keyframes desplode {
    0% {
      width: 400px;
      height: 400px;
      margin-left: -200px;
      margin-top: -200px;
      background-color: rgba(0, 0, 0, 0.8);
    }
    100% {
      width: 0px;
      height: 0px;
      margin-left: 0px;
      margin-top: 0px;
      background-color: rgba(0, 0, 0);
    }
  }


  /* banner css start */
  .slider-sec{
    position: relative;
    background: #779cff;
  }
  .slider-sec::after {
    content: "";
    position: absolute;
    right: 50%;
    bottom: -1px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 40px 30px;
    border-color: transparent transparent #ffffff transparent;
  }
  .banner-img{
  }
  
  .banner-img img{
      width: 100%;
  }
  /* banner css end */

  /* about me css  */
  .about-me{
      border-top: 1px solid rgb(240, 240, 240);
  }
.about-img img{
    border-radius: 50%;
    border: 5px solid #3c40c6;
}


.c-item{
    width: 100px;
    height: 100px;
    text-align: center;
    margin: auto;
    border: 2px solid #3c40c6;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* service css start */
.service-section{
  background-attachment: fixed;
}
/* service css end */
.counter-sec{
  padding: 100px 0;
  background-size: cover;
  background-attachment: fixed;
}

/* portfolio css start */
.filter-btn{
  margin: 10px;
  padding: 10px 10px;
  display: inline-block;
  background: #000000;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.filter-btn:hover {
  background:#3c40c6;
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1);
   transform: translate(0px, -10px) scale(1.2);
}
/*********************** Demo - 15 *******************/
.box-content{
  box-shadow: 0 0 10px 2px rgb(0, 0, 0, .3);
}
.box15 {
  margin-top: 25px;
  position: relative;
}
.box15 img {
  width: 100%;
  height: auto;
}
.box15 .box-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease 0s;
}
.box15:hover .box-content {
  background-color: rgba(0, 0, 0, 0.8);
}
.box15 .box-content:after,
.box15 .box-content:before {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.6s ease 0.3s;
}
.box15 .box-content:before {
  border-left: 1px solid white;
  border-top: 1px solid white;
  top: 19px;
  left: 19px;
}
.box15 .box-content:after {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  bottom: 19px;
  right: 19px;
}
.box15:hover .box-content:after,
.box15:hover .box-content:before {
  opacity: 1;
  transform: scale(1);
}
.box15 .title {
  font-size: 22px;
  color: white;
  margin-left: 20px;
  position: relative;
  top: 0;
  opacity: 0;
  transition: all 1s ease 10ms;
}
.box15:hover .title {
  top:45%;
  opacity: 1;
  transition: all 0.5s cubic-bezier(1, -0.53, 0.405, 1.425) 10ms;
}
.box15 .title:after {
  content: "";
  width: 0;
  height: 1px;
  background: red;
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all 1s ease 0s;
}
.box15:hover .title:after {
  width: 80%;
  transition: all 1s ease 0.8s;
}
.box15 .icon {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(1, -0.53, 0.405, 1.425);
  transition-delay: 0.1s;
}
.box15:hover .icon {
  bottom:30%;
  opacity: 1;
}
.box15 .icon li {
  display: inline-block;
}
.box15 .icon li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 18px;
  color: red;
  border: 1px solid red;
  margin-right: 5px;
  transition: all 0.3s ease-in-out 0s;
}
.box15 .icon li a:hover {
  background: #3c40c6;
  color: #fff;
  border: 1px solid #3c40c6;
}
@media only screen and (max-width: 990px) {
  .box15 {
      margin-bottom: 30px;
  }
}

/* portfolio css end */
/* others pages css */
.lightbox-gallery{
  flex-wrap: wrap;
  justify-content: center;
 
}
.lightbox-gallery a {
	margin: 10px;
  width: 300px;
  height: 300px;
	border: 6px solid white;
  box-shadow: 0 2px 10px rgb(0, 0, 0, .2);
	overflow: hidden;
}

.lightbox-gallery a img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s;
}
.lightbox-gallery a img:hover{
  transform: scale(1.4);
}
/* lightboxx custom css */
.lg-next::before {
	content: "\f101";
  font-family: "Font Awesome 5 Free";
  font-weight:600 ;
}
.lg-prev::after {
	content: '\f100';
  font-family: "Font Awesome 5 Free";
  font-weight:600 ;
}

.lg-backdrop {
	z-index: 1040;
	background-color: rgb(0, 0, 0 , .8);
}
.lg-outer .lg-thumb-outer {
	background-color: #779cff;
}

.lg-image{
    box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.4);
    transform: scale3d(1, 1, 1);
}